body{
    background-color: rgb(15, 15, 15);
}
p{
    color: rgb(255, 255, 255);
}
h1{
    color: aqua;
}
h2{
    color: blue;
}
h3{
    color: rgb(255, 0, 0);
}
.perfection{
    color: blueviolet;
    font-size: larger;
}
.bad{
    color: rgb(255, 0, 0);
    font-size: medium;
}
.days{
    width: 50%;
}